.DS_Store
.env
.env.backup
.phpunit.result.cache
/.idea
/.phpstorm.meta.php
/.vscode
/_ide_helper.php
/_ide_helper_models.php
/app/Systems/
/auth.json
/node_modules
/package-lock.json
/public/.tailwindcss-manifest.json
/public/dist
/public/mix-manifest.json
/public/storage
/public/vendor
/service-account-credentials.json
/storage/*.key
/storage/local-users.php
/tailwindcss
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/resources/views.bak
