body {
    overflow-y: scroll !important;
}

.brand-logo:hover {
    opacity: .9;
}

a.no-underline:hover,
.link-default:hover {
    text-decoration: underline;
}

.link-default:focus,
.sidebar-item-title:focus,
.sidebar-section-title:focus,
a.focus\:ring-2:focus,
button.focus\:ring-offset-4:focus {
    box-shadow: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

.space-y-4>:not([hidden])~:not([hidden]) {
    margin-top: calc(2rem*(1 - var(--tw-space-y-reverse)));
}

.help-text.help-text-error:first-letter {
    text-transform: capitalize;
}

.CodeMirror {
    border-radius: 0.25rem;
}

div.content > div.content {
    overflow-y: auto;
}

.max-h-search {
    height: calc(100vh - 80px);
}

/* Popper */

.v-popper--has-tooltip > svg {
    pointer-events: none !important;
}

.v-popper__arrow-container {
    display: none !important;
}
