a.no-underline:hover,
.link-default:hover {
    text-decoration: underline;
}

.link-default:focus,
.sidebar-item-title:focus,
.sidebar-section-title:focus,
a.focus\:ring-2:focus,
button.focus\:ring-offset-4:focus {
    box-shadow: none;
}

div.content > div.content {
    overflow-y: auto;
}

/* Flexible Content */

div#nova .w-full.shrink .text-80.grow.px-4 {
    padding-left: 0.77rem !important;
    padding-right: 0.77rem !important;
}

div#nova .w-full.shrink .text-80.grow.px-4 > span {
    display: none;
}

div#nova [dusk="collapse-group"],
div#nova [dusk^="detail-attributes-"] > div > span:first-of-type {
    display: none;
}

/* Popper */

.v-popper--has-tooltip > svg {
    pointer-events: none !important;
}

.v-popper__arrow-container {
    display: none !important;
}
