.tags-input:focus-within {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control {
    border: 2px solid #cdd5de;
}

.form-input:active,
.form-input:focus,
.tags-input:focus-within,
.form-input-bordered:focus,
.form-control:focus {
    border: 2px solid var(--primary) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.tags-input {
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
}

.tags-input-tag {
    opacity: 1 !important;
}
