@import "tailwindcss/base";
@import "tailwindcss/components";

*:focus {
    outline: none !important;
}

.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}

/* MAIN */

main .text-sm,
main .text-xs {
    @apply tracking-wide;
}

/* FORMS */

input,
textarea {
    @apply !p-2 !rounded-md !ring-0;

    &:not(:focus) {
        @apply !border-gray-300;
    }
}

select {
    @apply !border-2 !px-2 !py-0.5 h-8 !rounded-md !ring-0;
    &:not(:focus) {
        @apply !border-gray-300;
    }
}

/* VIEWS */

.view .card {
    @apply bg-white border border-gray-100 mb-5 md:mb-10 md:p-10 mx-auto p-5 relative rounded-lg self-stretch shadow-md w-full;
}

/* PARSEDOWN */

.x-parsedown p:not(:last-child):not([class^="mb-"]) {
    @apply mb-6;
}

.x-parsedown p[class*="mb-4"]:last-child {
    @apply !mb-0;
}

.x-parsedown p:last-of-type {
    @apply !mb-0;
}

.x-parsedown h1, h2, h3, h4, h5, h6, .headline {
    @apply font-semibold leading-tight mb-4 tracking-tight;
}

.x-parsedown h1, h2, h3, .headline {
    @apply text-xl md:text-2xl;
}

.x-parsedown h4, h5, h6 {
    @apply md:text-xl;
}

.x-parsedown hr {
    @apply my-5;
}

.x-parsedown ul {
    @apply my-2.5 px-5;
}

.x-parsedown ul:last-child {
    @apply mb-0;
}

.x-parsedown:not(:last-child) {
    @apply mb-6;
}

.x-parsedown:not(:last-child) ul {
    @apply px-5;
}

.x-parsedown ul li {
    @apply pt-2 list-disc;
}

.x-parsedown ul li:not(:last-of-type):not(.pt-*) {
    @apply pb-2;
}

@import "tailwindcss/utilities";
