a.no-underline:hover,
.link-default:hover {
    text-decoration: underline;
}

.link-default:focus,
.sidebar-item-title:focus,
.sidebar-section-title:focus {
    box-shadow: none;
}

.form-input:focus,
.form-select:focus {
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

.v-popper--has-tooltip > svg {
    pointer-events: none !important;
}

.v-popper__arrow-container {
    display: none !important;
}
