a.no-underline:hover,
.link-default:hover {
    text-decoration: underline;
}

.link-default:focus,
.sidebar-item-title:focus,
.sidebar-section-title:focus {
    box-shadow: none;
}

a.focus\:ring-2:focus {
    box-shadow: none;
}

button.focus\:ring-offset-4:focus {
    box-shadow: none;
}

.v-popper--has-tooltip > svg {
    pointer-events: none !important;
}

.v-popper__arrow-container {
    display: none !important;
}
