.font-sans {
    font-family:
        Poppins,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica Neue,
        Arial,
        Noto Sans,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji,
        Segoe UI Symbol,
        Noto Color Emoji
    !important;
}

body {
    @apply font-light font-sans h-full overflow-x-hidden relative;
}
