.changelog {
    ul {
        margin-bottom: 0 !important;

        li:last-of-type {
            @apply pb-1;
        }
    }

    img {
        @apply border my-3 rounded-md;
        padding: 2px;
    }

    small {
        @apply text-gray-500 text-xs;
    }
}
