input,
textarea {
    @apply !p-2 !rounded-md !ring-0;

    &:not(:focus) {
        @apply !border-gray-300;
    }
}

select {
    @apply !border-2 !px-2 !py-0.5 h-8 !rounded-md !ring-0;

    &:not(:focus) {
        @apply !border-gray-300;
    }
}
