*:not(.form-global-search):focus {
    box-shadow: none !important;
    outline: none !important;
}

.content > div > a {
    display: none;
}

.content > div:nth-of-type(2) {
    margin-top: -32px;
}

.resource-navigation {
    border-top: 1px solid #f1f1f1;
    background-color: white;
    height: 55px;
    left: -50px;
    position: absolute;
    right: -50px;
    top: -30px;
    padding-top: 15px;
    padding-left: 50px;
}

.CodeMirror-scroll {
    min-height: 125px;
    max-height: 25vh;
}

.markdown-fullscreen .CodeMirror-scroll {
    max-height: 100% !important;
}
